.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  border-top: 1px solid var(--hover);
  gap: .7rem;
}
.footer ul{
  list-style-type: none;
  display: flex;
  font-size: 1rem;
}
.footer p{
  font-size: .6rem;
}