
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,800;1,700&family=Roboto+Condensed:wght@100;300;400;500;600;700;800;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --secondary: #02577a;

  --primary: #0a192f;
  --text: #fff7f7;
  --headding: #64ffda;
  --activ:	#55acee;
  --hover: #8899ac;
  --shadow: #020c1bb3;

  --lato: 'Lato', sans-serif;
  --sans: 'Open Sans', sans-serif;
  --roboto: 'Roboto Condensed', sans-serif;

}

[data-theme="dark"] {
  --secondary: #06a1e3;
  --primary: #ffffff;
  --text: #1c1c1c;
  --headding: #08daa9;
  --activ:	#108dec;
  --hover: #757e89;
  --shadow: #020c1bb3;
}
body {
  font-family: var(--sans) ;
  color:var(--text);
  font-size:62.5%;
  font-size: 100%;
}

h1{
  font-family: var(--lato);
}
a{
  text-decoration: none;
  color: var(--text);
}
.full-wrap{
  background-color: var(--primary);
  min-height: 100vh;
  transition:all  .3s ease;
}
.col-50{
  width: 50%;
}
.padding{
  padding: 0% 10%;
}
img{
  width: 100%;
  object-fit: cover;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden{
  display: none !important;
}

@media screen and (max-width:700px) {
  body{
    font-size: 50%;
  }
  .col-50{
   width: 100%;
  }
}